
<body>

  <h1 align='center'>Let's Meet</h1>

  <article>
    <table align = "center" id="table1">
        <tr>
            <th>Room</th>
            <th>Availability</th>
        </tr>
        <tbody>
            <tr>
                <td>Judge's Panel</td>
                <td>Available</td>
            </tr>
            <tr>
                <td>2N 1C</td>
                <td>{{bool}}</td>
            </tr>
            <tr>
                <td>2N 2A</td>
                <td>Available</td>
            <tr>
                <td>2N 2B</td>
                <td>Unavailable</td>
            </tr>
            <tr>
                <td>2N 2C</td>
                <td>Unavailable</td>
            </tr>
        </tbody>
    </table>
</article>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<app-chairs></app-chairs>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<app-chair></app-chair>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</body>